node_modules
npm-debug.log
.git
.gitignore
*.md
docs
electron
src
config/pnpm-lock.yaml
config/*.ts
config/*.js
.vscode
.idea
*.log
*.tmp
dist
coverage
.github
artillery.yml
cluster-cli.sh
admin-cli.sh
index.html
eslint.config.js
tailwind.config.js
vite.config.*.ts
pnpm-workspace.yaml
tenk.json
**/node_modules